In [1]:
import pandas as pd
import glob

## Functionized

Basic cleaning functions, probably have some bad strings still, but they should be less than ~5%???

In [2]:
def process_file(fname:str) -> pd.DataFrame:
    with open(fname, 'r') as f:
        text = f.read()
    paragraphs = text.split('\n\n')
    filtered_paragraphs = list(filter(lambda p: p.strip() != '', paragraphs))
    simple_cleaned_paragraphs = list(map(lambda p: p.replace('\n', ' '), list(filtered_paragraphs)))
    simple_cleaned_paragraphs = list(filter(lambda x: len(x) > 100, list(simple_cleaned_paragraphs)))
    book = (fname.split('/')[-1]).split('.')[0]
    author = fname.split('/')[1]  # TODO: reading from folder so.....
    df = pd.DataFrame({'book': book, 'author': author, 'paragraph': list(simple_cleaned_paragraphs)})
    return df

Get all files/books

In [3]:
folder = './'
files = glob.glob(folder + '/**/*.txt', recursive=True)

Generate dataframe of all books

In [4]:
df_list = [ process_file(f) for f in files ]
df = pd.concat(df_list).reset_index(drop=True)
print(f'Number of paragraphs: {len(df)}')

Number of paragraphs: 82662

In [5]:
df.head(10)

,book,author,paragraph
0,anna_karenina,leo_tolstoy,Everything was in confusion in the Oblonskys’ ...
1,anna_karenina,leo_tolstoy,"Three days after the quarrel, Prince Stepan Ar..."
2,anna_karenina,leo_tolstoy,"“Yes, yes, how was it now?” he thought, going ..."
3,anna_karenina,leo_tolstoy,"Stepan Arkadyevitch’s eyes twinkled gaily, and..."
4,anna_karenina,leo_tolstoy,"“Ah, ah, ah! Oo!...” he muttered, recalling ev..."
5,anna_karenina,leo_tolstoy,"“Yes, she won’t forgive me, and she can’t forg..."
6,anna_karenina,leo_tolstoy,Most unpleasant of all was the first minute wh...
7,anna_karenina,leo_tolstoy,"She, his Dolly, forever fussing and worrying o..."
8,anna_karenina,leo_tolstoy,"And at this recollection, Stepan Arkadyevitch,..."
9,anna_karenina,leo_tolstoy,There happened to him at that instant what doe...

Generate an author id?

In [6]:
df['author_id'] = pd.factorize(df['author'])[0]

In [7]:
df[20000:20010]

,book,author,paragraph,author_id
20000,ethan_frome,edith_wharton,The passion of rebellion had broken out in him...,4
20001,ethan_frome,edith_wharton,The early mist had vanished and the fields lay...,4
20002,ethan_frome,edith_wharton,"Suddenly it occurred to him that Andrew Hale, ...",4
20003,ethan_frome,edith_wharton,The more he considered his plan the more hopef...,4
20004,ethan_frome,edith_wharton,His first object was to reach Starkfield befor...,4
20005,ethan_frome,edith_wharton,"“Mr. Hale? Why, yes, you'll find him down home...",4
20006,ethan_frome,edith_wharton,"Beaming maternally on Ethan, she bent over to ...",4
20007,ethan_frome,edith_wharton,She gave him a last nod of sympathy while her ...,4
20008,ethan_frome,edith_wharton,It was a long time since any one had spoken to...,4
20009,ethan_frome,edith_wharton,"He started down the road toward their house, b...",4

Save to parquet

In [8]:
df.to_parquet('nlp_data.snappy.parquet', compression='snappy')